html, body, #aspnetForm {
    height: 100%;
}

body {
    overflow: hidden;
}

.content {
    background: url("backgrounds/Hero1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top 0 right 100%;
    height: 100%;
}

label, .login-header, .input-box, input[type='submit'], .submit-button {
    margin-left: 256px;
    margin-right: 256px;
}

.login-header {
    padding-top: 80px;
}

.input-box input {
    width: 100%;
}

input[type='submit'] {
    box-sizing: border-box;
}

.show-password {
    width: 100%;
}

.show-password label {
    position: absolute;
    left: -9999px;
    text-indent: -9999px;
}

.password-wrapper {
    position: relative;
}

.password + .unmask {
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-indent: -9999px;
    width: 25px;
    height: 25px;
    background: #aaa;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
}

.password + .unmask:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 17px;
    height: 17px;
    background: #e3e3e3;
    z-index: 1;
    border-radius: 50%;
}

.password[type="text"] + .unmask:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 13px;
    height: 13px;
    background: #aaa;
    z-index: 2;
    border-radius: 50%;
}

.notifier-label.error {
    border: 1px solid #9B301B;
    background-color: #F93F26;
    margin: 20px;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

@media (max-width: 768px) {
    label, .login-header, .input-box, input[type='submit'], .submit-button {
        margin-left: 8px;
        margin-right: 8px;
    }
    .login-header {
        padding-top: 20px;
    }
}